{% extends 'base.html' %}
{% block content %}
  <div class="container-medium" style="margin-top:3rem;">
    <h1>Marketplace</h1>
    <div class="marketplace-grid">
      {% for listing in listings %}
        <div class="pokemon-card">
          <img src="{{ listing.pokemon.sprite }}" class="pokemon-card-img"/>
          <h2>{{ listing.pokemon.name }}</h2>
          <p>Type: {{ listing.pokemon.types|join:', ' }}</p>
          <p>HP:   {{ listing.pokemon.health }}</p>
          <p><strong>Price: {{ listing.price }} ⚪️</strong></p>

          {% if user.is_authenticated %}
            {% if listing.seller == user.profile %}
              <em>Your listing</em>
            {% else %}
              <form action="{% url 'buy_listing' listing.pk %}" method="post">
                {% csrf_token %}
                <button type="submit" class="cta-button">Buy</button>
              </form>
            {% endif %}
          {% endif %}
        </div>
      {% empty %}
        <p>No Pokémon listed yet.</p>
      {% endfor %}
    </div>
  </div>
{% endblock %}